version: 2.1
jobs:
  build:
    working_directory: ../frontend
    docker:
      - image: cimg/node:16.13.1
    steps:
      - checkout
      - run:
          name: Update Yarn
          command: "sudo npm install -g --force yarn"
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn-lock.json" }}
      - run:
          name: Install Dependencies
          command: yarn install
      - save_cache:
          key: dependency-cache-{{ checksum "yarn-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Run tests
          command: yarn test